################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Release/com.xamarin.example.BitChuteNotifications.apk.mSYM
/.vs
/obj
/bin/Debug
/bin/Release/BottomNavigationViewPager.pdb
/bin/Release/BottomNavigationViewPager.dll.mdb
/bin/Release/BottomNavigationViewPager.dll
/bin/Release/System.Xml.pdb
/bin/Release/System.Xml.Linq.pdb
/bin/Release/System.Web.Services.pdb
/bin/Release/System.Transactions.pdb
/bin/Release/System.ServiceModel.Internals.pdb
/bin/Release/System.Runtime.Serialization.pdb
/bin/Release/System.pdb
/bin/Release/System.Numerics.pdb
/bin/Release/System.Net.Http.pdb
/bin/Release/System.IO.Compression.pdb
/bin/Release/System.IO.Compression.FileSystem.pdb
/bin/Release/System.Data.pdb
/bin/Release/System.Core.pdb
/bin/Release/System.ComponentModel.Composition.pdb
/bin/Release/mscorlib.pdb
/bin/Release/Mono.Security.pdb
/bin/Release/Mono.Android.pdb
/bin/Release/Mono.Android.Export.pdb
/bin/Release/HtmlAgilityPack.pdb
/bin/Release/com.xamarin.example.BitChuteNotifications.apk
/Resources/raw/mylastvidd.mp4
/Resources/raw
