################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Release/com.xamarin.example.BitChuteNotifications.apk.mSYM
